////////////////////////////////////////////////////////////////////////////////
// Global specifications.
////////////////////////////////////////////////////////////////////////////////

// Compass imports.
@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "compass/css3";
@import "dropdown-enhancement";

// SCSS includes.
@include font-face('Roboto-Black', font-files('RobotoBlack/Roboto-Black.ttf', 'RobotoBlack/Roboto-Black.eot', 'RobotoBlack/Roboto-Black.woff'));

// Global variables and properties.
$color-1: #53847F;
$color-2: #F8F8F8;
$color-3: #EEEEEE;
$color-border: #D7D7D7;

$color-prioritiy: #F15B41, #FCB54E, #8EC975;

$rainbow: #EB222A, #F36F26, #F68F22, #FEC317, #F4EA28, #9BCA3C,
          #04AA51, #1991CD, #0857A3, #6C459B, #A54499, #E34197;

// Used for calculating size of the container divs for each tab of the project page
$project-header-offset: 65px;
$project-body-offset: $navbar-height + $project-header-offset;

// General Utility Classes
*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

*.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container {
    @extend .container-fluid;
}

@mixin truncate($line-width) {
    width: $line-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin line-clamp($font-size, $line-height, $line-count) {
    display: block;
    overflow: hidden;
    height: $font-size*$line-height*$line-count;
    text-overflow: ellipsis;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin center-el($width) {
    width: $width;
    margin-left: auto;
    margin-right: auto;
}

// Navbar CSS style specifications.
.btn-is-disabled {
    pointer-events: none;
    @include opacity(0.7);
}

.header-offset {
    margin-top: $navbar-height + 1px;
}

// Error styling
#error-message {
    @include center-el(400px);
    @extend .img-rounded;
    background-color: $color-1;
    margin-top: 200px;
    height: 400px;
    > img {
        display: inline-block;
        height: 300px;
        margin-left: 40px;
        margin-top: 20px;
    }
    > h1 {
        font-family: "Roboto-Black";
        font-size: 30px;
        margin-bottom: auto;
        color: white;
    }
}

// Roo icon stylings
#rune-logo-img {
    display: inline;
    > img {
        position: relative;
        top: -6px;
        height: 30px;
    }
}

#rune-logo-text {
    display: inline;
    padding-left: 5px;
    position: relative;
    top: -2px;
    font-family: "Roboto-Black";
    font-size: 24px;
}

@mixin rune-icon-profile($color-index) {
    .roo-icon-profile {
        @include roo-image($color-index, 200px);
    }

    .initials-icon-profile {
        @include roo-initials(56px, 200px);

    }
}

@mixin rune-check-small($color-index) {
    display: inline;
    margin: 10px 0;
    text-align: center;
    .roo-icon-small {
        @include roo-image($color-index, 40px);
    }

    .check-icon-small {
        @extend .img-rounded;
        position: absolute;
        height: 40px;
        margin: 0px -40px;
        opacity: 0;
    }
}

@mixin rune-kanban-small($color-index) {
    display: inline-block;
    position: relative;
    .roo-icon-kanban {
        @include roo-image($color-index, 30px);
    }

    .initials-icon-kanban {
        @include roo-initials(9px, 28px);
    }
    
    .user-name {
        vertical-align: middle;
        display: inline-block;
        position: relative;
        left: 6px;
    }
}

@mixin roo-image($color-index, $height) {
    @extend .img-rounded;
    @extend .unselectable;
    background-color: nth($rainbow, $color-index);
    position: relative;
    height: $height;
    z-index:-1;
}

@mixin roo-initials($font-size, $height) {
    @extend .unselectable;
    position: absolute;
    margin:  $height * -19 / 20 $height / 10;
    color: white;
    font-family: "Roboto-Black";
    font-size: $font-size;
}

#rune-icon-small-red { @include rune-check-small(1); }
#rune-icon-small-redorange { @include rune-check-small(2); }
#rune-icon-small-orange { @include rune-check-small(3); }
#rune-icon-small-yelloworange { @include rune-check-small(4); }
#rune-icon-small-yellow { @include rune-check-small(5); }
#rune-icon-small-yellowgreen { @include rune-check-small(6); }
#rune-icon-small-green { @include rune-check-small(7); }
#rune-icon-small-bluegreen { @include rune-check-small(8); }
#rune-icon-small-blue { @include rune-check-small(9); }
#rune-icon-small-bluepurple { @include rune-check-small(10); }
#rune-icon-small-purple { @include rune-check-small(11); }
#rune-icon-small-redpurple { @include rune-check-small(12); }

#rune-icon-profile-red { @include rune-icon-profile(1); }
#rune-icon-profile-redorange { @include rune-icon-profile(2); }
#rune-icon-profile-orange { @include rune-icon-profile(3); }
#rune-icon-profile-yelloworange { @include rune-icon-profile(4); }
#rune-icon-profile-yellow { @include rune-icon-profile(5); }
#rune-icon-profile-yellowgreen { @include rune-icon-profile(6); }
#rune-icon-profile-green { @include rune-icon-profile(7); }
#rune-icon-profile-bluegreen { @include rune-icon-profile(8); }
#rune-icon-profile-blue { @include rune-icon-profile(9); }
#rune-icon-profile-bluepurple { @include rune-icon-profile(10); }
#rune-icon-profile-purple { @include rune-icon-profile(11); }
#rune-icon-profile-redpurple { @include rune-icon-profile(12); }

#rune-icon-kanban-red { @include rune-kanban-small(1); }
#rune-icon-kanban-redorange { @include rune-kanban-small(2); }
#rune-icon-kanban-orange { @include rune-kanban-small(3); }
#rune-icon-kanban-yelloworange { @include rune-kanban-small(4); }
#rune-icon-kanban-yellow { @include rune-kanban-small(5); }
#rune-icon-kanban-yellowgreen { @include rune-kanban-small(6); }
#rune-icon-kanban-green { @include rune-kanban-small(7); }
#rune-icon-kanban-bluegreen { @include rune-kanban-small(8); }
#rune-icon-kanban-blue { @include rune-kanban-small(9); }
#rune-icon-kanban-bluepurple { @include rune-kanban-small(10); }
#rune-icon-kanban-purple { @include rune-kanban-small(11); }
#rune-icon-kanban-redpurple { @include rune-kanban-small(12); }

#hidden-color-input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

////////////////////////////////////////////////////////////////////////////////
// Specific style specifications to the Rune website.
////////////////////////////////////////////////////////////////////////////////

// User list styling specifications.
.user-name {
    @include truncate(400px);
}

.user-email {
    @include truncate(400px);
}

// Create project page style specifications.
.project-create-container {
    @include center-el(450px);
    padding: 15px;
    padding-top: 70px;
    h2 {
        text-align: center;
    }
    p {
        font-style: italic;
    }
    .boxes {
         padding:4px
    }
    .chatbox{
        border-width: 10px;
        border-style: solid;
        line-height: 1;
        color: #6E6A6B;
        text-align: left;
        border: 3px solid #969293;
        width: 100%;
        height: 2em;
    }
    .button-center {
        text-align: center;
    }
}

// Login page style specifications.
.login {
    @include center-el(300px);
    padding: 15px;
    padding-top: 50px;
    h2 {
        text-align: center;
    }
    input {
        margin: 15px 0;
    }
    input:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
    button {
        margin: 8px 0;
    }
    #forgot-pw {
        text-align: right;
    }
    .no-user-error {
        color: rgb(200, 0, 0);
        min-height: 20px;
        text-align: center;
    }
}

// Signup page style specifications.
.signup {
    h2 {
        text-align: center;
    }
    input {
        // margin: 0;
    }
    .form-control {
        margin: 15px 0;
    }
    .signup-btn {
        text-align: center;
    }
    @include center-el(440px);
    padding: 15px;
    padding-top: 50px;
    text-align: center;
}

// Project page CSS style specifications.
.project-header {
    position: fixed;
    width: 100%;
    background-color: $color-3;
    z-index: 900;
    .project-name {
        position: absolute;
        z-index: 1000;
    }
    .project-tabs {
        margin-top: $project-header-offset - 42px;
        bottom: 0;
        li {
            float: right;
        }
    }
}

.project-header-offset {
    margin-top: $project-header-offset;
}

.project-body {

}

// Kanban board CSS style specifications.
.kanban-board {
    display: relative;
    overflow-y: scroll;
    height: calc(100vh - #{$project-body-offset});
}

.kanban-board-header {
    position: fixed;
    // width: 100%;
    z-index: 700;
}

.kanban-board-body {
    padding-top: 60px;
    padding-bottom: 40px;
    z-index: 700;
}

.kanban-board-row {
    display: table;
    box-sizing: border-box;
    table-layout: fixed;
    width: 100%;
    border-spacing: 15px 0;
    min-height: 160px;
}

.kanban-board-row-header {
    width: 100%;
    left: 0;
    min-height: 100%;
}

.kanban-col {
    display: table-cell;
    float: none;
    width: 25%;
    vertical-align: top;
    padding: 0 0 20px 0;
    background-color: $color-3;
    z-index: 600;
}

.kanban-col-header {
    display: table-cell;
    float: none;
    width: 25%;
    vertical-align: top;
    padding: 10px 0 0 0;
    font-weight: bold;
    background-color: $color-2;
    .kanban-col-header-text {
        border-bottom: 4px solid $color-3;
        padding-bottom: 10px;
    }
}

.kanban-task {
    background-color: $color-2;
    border: 1px solid $color-border;
    padding: 10px 15px;
    min-height: 140px;
    height: 100%;
    z-index: 10;
    .kanban-task-header {
        font-weight: bold;
    }
    .kanban-task-header,
    .kanban-task-body,
    .kanban-task-tags {
        padding: 5px 0;
    }
}

@mixin kanban-task-glow($color-index) {
    @extend .kanban-task;
    border: 1px solid rgba(nth($rainbow, $color-index), .7);
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(nth($rainbow, $color-index), .2);
}

.kanban-task-glow-red { @include kanban-task-glow(1); }
.kanban-task-glow-redorange { @include kanban-task-glow(2); }
.kanban-task-glow-orange { @include kanban-task-glow(3); }
.kanban-task-glow-yelloworange { @include kanban-task-glow(4); }
.kanban-task-glow-yellow { @include kanban-task-glow(5); }
.kanban-task-glow-yellowgreen { @include kanban-task-glow(6); }
.kanban-task-glow-green { @include kanban-task-glow(7); }
.kanban-task-glow-bluegreen { @include kanban-task-glow(8); }
.kanban-task-glow-blue { @include kanban-task-glow(9); }
.kanban-task-glow-bluepurple { @include kanban-task-glow(10); }
.kanban-task-glow-purple { @include kanban-task-glow(11); }
.kanban-task-glow-redpurple { @include kanban-task-glow(12); }

@mixin kanban-priority-icon($color-index) {
    display: inline-block;
    z-index: 0;
    > .priority-icon {
        @extend .img-rounded;
        position: relative;
        margin-left: 4px;
        height: 10px;
        width: 10px;
        display: inline-block;
        background-color: nth($color-prioritiy, $color-index);
    }
    > .priority-text {
        left: 4px;
        display: inline-block;
        position: relative;
    }
}

.kanban-priority-icon-Low { @include kanban-priority-icon(3); }
.kanban-priority-icon-Medium { @include kanban-priority-icon(2); }
.kanban-priority-icon-High { @include kanban-priority-icon(1); }

// Task styling specifications.
.task-header {
    position: fixed;
    width: 100%;
    background-color: $color-3;
    border: 0 solid $color-border;
    border-bottom-width: 1px;
    font-size: 20px;
    z-index: 900;
}

.task-body {
    padding: 10px 0;
    .task-description,
    .task-tags {
        padding: 0 15px;
    }
}

.task-create {
    width: 440px;
    margin: 20px auto;
    h2 {
        text-align: center;
        padding: 15px;
    }
    .btn-submit {
        margin: 0 auto;
    }
}

// Task browser styling specifications.
$task-browser-offset: $project-body-offset + 65px;

.task-browser {
    position: relative;
    box-sizing: border-box;
}

.task-browser-filter {
    float: left;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-color: $color-border;
    border-bottom-style: solid;
    padding: 15px;
    .task-browser-filter-group {
        float: left;
        margin-right: 15px;
    }
    .btn-group {
        margin-right: 15px;
    }
}

.task-browser-body {
    position: relative;
}

.task-browser-col-left,
.task-browser-col-right {
    overflow-y: scroll;
    display: block;
    float: left;
    // border-bottom-width: 1px;
    // border-bottom-color: $color-border;
    // border-bottom-style: solid;
    height: calc(100vh - #{$task-browser-offset});
}

.task-browser-col-left {
    width: 25%;
    border-right-width: 1px;
    border-right-color: $color-border;
    border-right-style: solid;
    .navbar-collapse {
        padding: 0;
    }
    * {
        width: 100%;
    }
}

.task-browser-col-right {
    padding: 15px;
    padding-bottom: 215px;
    width: 75%;
}

.task-browser-list-el {
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-color: $color-border;
    border-bottom-style: solid;
    > a {
        color: $text-color;
    }
}

// User List styling specifications.
.user-list-container {
    @extend .container-fluid;
    overflow-y: scroll;
    height: calc(100vh - #{$project-body-offset});
}

// Overview styling specifications.
.overview-container {
    @extend .container-fluid;
    overflow-y: scroll;
    height: calc(100vh - #{$project-body-offset});
}

// Project settings style specifications.
.settings-container {
    @extend .container-fluid;
    overflow-y: scroll;
    height: calc(100vh - #{$project-body-offset});
}

.settings-des {
    margin-top: 15px;
    padding: 15px;
}

.settings-form {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    > h3, h6 {
        display: inline;
    }
    .settings-label {
        text-align: right;
    }
    .settings-input {
        padding-top: 25px;
        padding-bottom: 15px;

    }
    .settings-submit {
        padding-top: 0px;
        padding-bottom: 15px;
    }
}

.settings-btn {
    padding: 10px 0;
    .btn-md {
        width: 50%;
    }
}

.settings-delete {
    // text-align: center;
    padding: 15px;
    margin-bottom: 400px;
}

#settings-proj-des {
    resize: vertical;
}

#settings-proj-gh {
    width: 80%;
}

// Profile Styling
.profile-container {
    padding-top: 25px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.profile-el {
    padding: 15px;
}

.profile-description {
    font-size: 30px;
}

.profile-description-text {
    position: relative;
    left: 4px;
    font-size: 14px;
    padding-bottom: 10px;
}

.profile-form-control-description {
    @extend .form-control;
    position: relative;
    font-size: 14px;
    width: 100%;
    resize: none;
    height: 400px;
}

.profile-github {
    margin-top: 50px;
}

.profile-github-text {
    position: relative;
    left: 4px;
    font-size: 14px;
    padding-bottom: 10px;
}

.profile-form-control-github {
    @extend .form-control;
    position: relative;
    left: 4px;
    font-size: 14px;
    margin-bottom: 14px;    
}

.profile-edit-button {
    padding-top:0px;
    position: relative;
    left: 4px;
    margin-bottom: 20px;
}

.profile-github-button {
    position: relative;
    left: 4px;
}

// Project Finder Styling
.project-finder-table {
    @extend .table;
}

.project-finder-button {
    width: 10%;
    text-align: center;
}

.project-finder-name {
    width: 14%;
}

.project-finder-name-text {
    position: relative;
}

.project-finder-leader {
    width: 12%;
}

.project-finder-user-name {
    display: inline-block;
    position: relative;
    left: 6px;
}

.project-finder-members {
    width: 7%;
}

.project-finder-members-text {
    position: relative;
    left: 25px;
}

.project-finder-description {
    width: 33%;
}

.project-finder-description-text {
    word-wrap: break-word;
    word-break: normal;
    white-space: normal;
    overflow: auto;
}

.project-finder-skills {
    width: 24%;
}

.project-finder-skills-text {
    word-wrap: break-word;
    word-break: normal;
    white-space: normal;
    overflow: auto; 
}

.project-finder-table th {
    min-width: 150px;
}
