// Compass imports.
@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "compass/css3";

// SCSS includes.
@include font-face('Roboto-Black', font-files('RobotoBlack/Roboto-Black.ttf', 'RobotoBlack/Roboto-Black.eot', 'RobotoBlack/Roboto-Black.woff'));

// Global variables.
$color-1: #53847F;
$color-2: #F8F8F8;
$color-3: #EEEEEE;
$color-border: #E8E8E8;

// Navbar CSS style specifications.
.btn-is-disabled {
    pointer-events: none;
    @include opacity(0.7);
}

#rune-logo-img {
    display: inline;
    // padding-left: 30px;
    > img {
        position: relative;
        top: -6px;
        height: 30px;
    }
}

#rune-logo-text {
    display: inline;
    padding-left: 5px;
    position: relative;
    top: -2px;
    font-family: "Roboto-Black";
    font-size: 24px;
}



.login {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    padding-top: 50px;
    h2 {
        text-align: center;
    }
    input {
        margin: 15px 0;
    }
    input:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
    button {
        margin: 8px 0;
    }
    a {
        padding-right: 58px;
    }
}

// Project page CSS style specifications.
.project-header {
    background-color: $color-3;
    margin-top: 45px;
    // border-style: solid;
    // border-width: 0 0 1px 0;
    // border-color: $color-border;
    // padding: 0 20px;
    font-size: 20px;
    z-index: 900;
}

.project-pages {
    li {
        float: right;
    }
}

// Kanban board CSS style specifications.
.kanban-header {
    background-color: $color-3;
    margin-top: 45px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $color-border;
    padding: 20px;
    font-size: 20px;
    z-index: 900;
}

.kanban-board {
    padding: 0;
    padding-bottom: 40px;
    margin: 0;
    margin-top: 220px;
    width: 100%;
}

.kanban-board-header {
    margin-top: 158px;
    z-index: 800;
}

.kanban-board-row {
    display: table;
    box-sizing: border-box;
    table-layout: fixed;
    margin: 0;
    border-spacing: 10px 0;
    width: 100%;
    min-height: 160px;
    z-index: -1;
}

.kanban-board-row-header {
    min-height: 100%;
}

.kanban-board-member {
    margin: 0 22px;
    margin-bottom: 10px;
    padding: 20px 0 10px 0;
    border: none;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $color-border;
}

.kanban-col {
    display: table-cell;
    float: none;
    width: 25%;
    vertical-align: top;
    padding: 0 0 20px 0;
    background-color: $color-3;
}

.kanban-col-header {
    display: table-cell;
    float: none;
    width: 25%;
    vertical-align: top;
    padding: 10px 0 0 0;
    font-weight: bold;
    background-color: $color-2;
}

.kanban-col-header-text {
    border-bottom: 4px solid $color-3;
    padding-bottom: 10px;
}

.kanban-task {
    background-color: $color-2;
    border: 1px solid $color-border;
    padding: 15px;
    min-height: 140px;
    height: 100%;
    z-index: 10;
}

.kanban-task-header {
    font-weight: bold;
    padding: 5px 0;
}

.kanban-task-body {
    padding: 5px 0;
}

.kanban-task-tags {
    padding: 5px 0;
}
