div(class="container")
	h2 Project Overview
	table(class="table table-hover")
		tbody
			tr
				th Project Name: 
				td #{projName}
			tr
				th Project Key: 
				td #{projKey}
			tr
				th Project ID: 
				td #{projId}
	form(action="deleteproject/" method="POST")
		label ToDo: add front-end confirmation message. Only the board creator can delete projects. 
		button(type="submit") Delete Project 
