div(class="row")
	div(class="navbar task-browser-col-left")
		div(class="collapse navbar-collapse")
			ul(class="nav navbar-nav")
				each task in taskList
					li(id=task.taskid class="task-browser-list-el")
						a(href="#" class="task-browser-list-el-link")
							div(class="task-id-element") #{task.taskid}
							div(class="task-name-element")
								div(class="js-clamp") #{task.taskname}

	div(class="task-browser-col-right")
		each task in taskList
			div(id=task.taskid class="task-browser-window-el" hidden="true")
				include ../task/task.jade
