div(style="margin-top: 158px;")
	div(class="container")
		h2 List of all project members
		table(class="table table-hover")
			thead
				tr
					th Name
					th Email
			tbody
				each user in projMembers
					tr
						td #[a(href='/u/'+user.id+'/') #{user.name}]
						td #{user.email}
