doctype html 
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        link(rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        
        link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
        
        title Rune
        
        block headContent
    
    body
        header 
        
        nav(class="navbar navbar-inverse")
        
            div(class="container-fluid")
                div(class="row" style="height:85px;")
                    div(class="col-xs-6" style="padding-top:18px;")
                        div(class="navbar-header")
                            a(class="navbar-brand" href="/" style="font-size:40px;") Rune 
                        div(id="navbar" class="navbar-collapse collapse" style="padding-top:4px;")
                            ul(class="nav navbar-nav")
                                li #[a(href="#" style="font-size:20px;") About]
                                li(class="dropdown")
                                    if notLoggedIn 
                                        a(href="#" class="dropdown-toggle btn-is-disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:20px;color:#4D4C4C;") Projects
                                    else
                                        a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:20px;") Projects
                                    ul(class="dropdown-menu")
                                        li #[a(href="#") Project1]
                                        li #[a(href="#") Project2]
                                        li #[a(href="#") Create New Project]
                                li
                                    if notLoggedIn 
                                        a(role="button" class="btn btn-button-name btn-is-disabled" href="#" style="font-size:20px;color:#4D4C4C;") Create Task 
                                    else 
                                        a(role="button" class="btn btn-button-name btn-lg" href="#" style="font-size:20px;") Create Task 
                    if notLoggedIn                
                        div(class="col-xs-6")
                            div(class="row" style="padding-top:5px;")
                                div(class="col-xs-12")
                                    form(class="navbar-form navbar-right" action="/login" method="post")
                                        
                                        div(class="form-group")
                                            input(type="text" class="form-control" name="email" placeholder="Email")
                                        div(class="form-group")
                                            input(type="password" class="form-control" name="password" placeholder="Password" style="width:100px;")
                                        button(type="submit" class="btn btn-default") Sign In
                                div(class="col-xs-12")
                                        p(class="text-right" style="color:red;padding-right:190px;") #{message}
                    
                    if !notLoggedIn 
                        div(class="col-xs-6" style="padding-top:18px;")
                            div(id="navbar" class="navbar-collapse collapse" style="padding-top:4px;")
                                ul(class="nav navbar-nav navbar-right")
                                    li(class="dropdown")
                                        a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:20px;") #{firstname}
                                        ul(class="dropdown-menu" style="text-align:right;")
                                            li #[a(href="/profile") My Profile]
                                            li #[a(href="#") Student Finder]
                                
                
        
        block bodyContent
        
        script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
