doctype html 
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
        title Rune
        block headContent

    body
        //- The main markup for the header for most pages on Rune.
        header 
            nav(id="main-header" class="navbar navbar-default navbar-fixed-top")
                div(class="container-fluid")
                    div(class="navbar-header")
                        a(class="navbar-brand" href="#")
                            span(class="glyphicon glyphicon-menu-hamburger" aria-hidden="true")
                    div(class="navbar-header")
                        a(class="navbar-brand" href="/") Rune 
                    ul(class="nav navbar-nav")
                        if loggedIn
                            li(class="dropdown")
                                a(href="#" class="dropdown-toggle" data-toggle="dropdown") Projects
                                ul(class="dropdown-menu")
                                    li #[a(href="#") Project1]
                                    li #[a(href="#") Project2]
                                    li #[a(href="/createproject") Create New Project]
                            if isProjectPage
                                li
                                    a(role="button" href="createtask/") Create Task
                            else
                                li
                                    a(role="button" class="btn-is-disabled") Create Task
                                    
                        else 
                            li(class="dropdown")
                                a(class="dropdown-toggle btn-is-disabled" data-toggle="dropdown") Projects
                            li
                                a(role="button" class="btn-is-disabled") Create Task
                    if loggedIn
                        ul(class="nav navbar-nav navbar-right")
                            li(class="dropdown")
                                a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") #{firstname}
                                ul(class="dropdown-menu" style="text-align:right;")
                                    li #[a(href="/profile") My Profile]
                                    li #[a(href="#") Student Finder]
                                    li #[a(href="/logout") Log Out]
                    else
                        ul(class="nav navbar-nav navbar-right")
                            li #[a(href="/login") Log in]
                        

        //- Random 45px spacer to space out margin.
        div(style="margin-top: 45px;")
        block bodyContent
        
        //- JavaScript scripts.
        script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
        script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous")
        script(src="/javascripts/bootstrap.min.js")

        block scripts
