doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
        link(rel="stylesheet" type="text/css" href="/stylesheets/custom.css")
        link(rel="icon" href="/images/icon3.png")
        title Rune
        block headContent

    body
        //- The main markup for the header for most pages on Rune.
        header(id="main-header" class="navbar navbar-default navbar-fixed-top") 
            div(class="container-fluid")
                div(class="navbar-header")
                    a(id="rune-logo" class="navbar-brand" href="/")
                        div(id="rune-logo-img")
                            img(src="/images/Roo.svg")
                        div(id="rune-logo-text") Rune
                ul(class="nav navbar-nav")
                    if loggedIn
                        li(class="dropdown") 
                            a(href='/users') Users
                        li(class="dropdown")
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown") Projects
                            ul(class="dropdown-menu")
                                if projList
                                    each proj in projList
                                        li #[a(href="/p/"+proj['projectid']+'/') #{ proj['projectkey'] }]
                                li(class="divider")
                                li #[a(href="/createproject") Create New Project]
                        if isProjectPage
                            li
                                a(role="button" data-toggle="modal" href="#task-modal" onclick="Page.Project.taskCreateLoad();") Create Task
                    else
                        li(class="dropdown btn-is-disabled") 
                            a(href='/users') Users
                        li(class="dropdown")
                            a(class="dropdown-toggle btn-is-disabled" data-toggle="dropdown") Projects
                if loggedIn
                    ul(class="nav navbar-nav navbar-right")
                        li(class="dropdown")
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") #{firstname}
                            ul(class="dropdown-menu" style="text-align:right;")
                                li #[a(href="/profile") My Profile]
                                li #[a(href="#") Student Finder]
                                li #[a(href="/logout") Log Out]
                else
                    ul(class="nav navbar-nav navbar-right")
                        li #[a(href="/login") Log in]

        //- Modal
        div(id="task-modal" class="modal fade" role="dialog")
            div(class="modal-dialog")
                div(class="modal-content")

        //- Random 45px spacer to space out margin.
        div(style="margin-top: 45px;")
        block bodyContent
        
        //- JavaScript scripts.
        script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
        script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous")
        script(src="/javascripts/bootstrap.min.js")

        block scripts
