extends ./partials/base.jade

block bodyContent 
    
    div(class="container")
        div(class="createtask login")
            form(class="form-createtask" action="" method="post")
                h2(class="form-signin-heading") Create a new task
                div(class="col-xs-12" style="padding:4px")
                    label(for="taskname") Task Name
                    input(class="form-control" type="text" style="margin:2px" name="taskname" placeholder="Task Name")
                div(class="col-xs-12" style="padding:4px")
                    label(for="taskdescription") Task Description
                    textarea(class="form-control" rows="4" style="margin:2px" name="taskdescription" placeholder="Description")
                div(class="col-xs-12" style="padding:4px")
                    label(for="assignedto") Assigned to
                    select(class="form-control" style="margin:2px" name="assignedto")
                        option Alex
                        option Roland
                        option Can you not
                div(class="col-xs-12" style="padding:4px")
                    label(for="status") Status
                    select(class="form-control" style="margin:2px" name="status")
                        option To-do
                        option In Progress
                        option Code Review
                        option Completed 
                div(class="col-xs-12" style="padding:4px")
                    label(for="priority") Priority
                    select(class="form-control" style="margin:2px" name="priority")
                        option High
                        option Medium
                        option Low
                button(class="btn btn-primary btn-block" type="submit") Submit 
                