extends ./partials/base.jade

block bodyContent
    div(class="container-fluid")
        div(class="task-create")
            form(class="form-group" action="" method="post")
                h2(class="form-signin-heading") Create New Task
                div(class="form-group")
                    label(for="taskname") Task Name
                    input(class="form-control" type="text" name="taskname" placeholder="Task Name")
                div(class="form-group")
                    label(for="taskdescription") Task Description
                    textarea(class="form-control" rows="4" name="taskdescription" placeholder="Description")
                div(class="form-group")
                    label(for="assignedto") Assign to
                    select(class="form-control" name="assignedto")
                        each user in usersList
                            option(value="#{user['email']}") #{user['name']}
                div(class="form-group")
                    label(for="status") Status
                    select(class="form-control" name="status")
                        each status in statuses
                            option #{status}
                div(class="form-group")
                    label(for="priority") Priority
                    select(class="form-control" name="priority")
                        option High
                        option Medium
                        option Low
                div(class="btn-submit")
                    button(class="btn btn-primary" type="submit") Submit
