html

    head
        title Error 
    
    body
        h2 You are not logged in and cannot see this page 
        br
        br
        br
        a(href="/") Home
        br
        br
        a(href="/login") Login 
