extends ./partials/base.jade

block bodyContent 

    h2 homepage content goes here  
    p this includes stuff like the signup form, and the site description (what is kanban, etc)
    p Projects, Tasks, and Student Finder are going to be hidden (back-end can take care of this) until user is logged in.
    p For now, a two-column main page body that contains site description + signup form (similar to facebook layout) would suffice
    
    p Currently, the log in form (upper right hand corner) is super ghetto. Need a better one 
    p When user is logged in, the "Profile" dropdown needs to be refined. A LOT. Make it look legit!!
    
    p The page contents are found in /views/partials/base.jade, but it would probably be a better idea to develop in html first and upload the html mockup to the mockups folder.
