extends ./partials/base.jade

block bodyContent 

    h2 homepage content goes here  
    p this includes stuff like the signup form, and the site description (what is kanban, etc)
    p For now, a two-column main page body that contains site description + signup form (similar to facebook layout) would suffice
    
    p Is there any way to separate the username, password, and "sign in" fields? right now they are all squished together.

    p The page contents are found in /views/partials/base.jade, but it would probably be a better idea to develop in html first and upload the html mockup to the mockups folder.
    p Or, if you are confident with understanding jade, the source code for homepage is mainly found under "views/partials/base.jade"
    p Do "npm install -g nodemon" which auto refreshes the app whenever you save, so you don't have to exit and re-start.
    p Run nodemon with "nodemon app.js"
    p This lets you view your changes immediately after you make them, so you don't have to develop first on html, and can directly work on jade.
