extends ./partials/base.jade

block bodyContent 
    if !loggedIn
        div(class="row" style="padding:15px")
        div(class="row" style="padding:15px")
            div(class="col-xs-4 col-xs-offset-2" style="padding:14px; background-color:white; opacity:0.85; border-radius:4px")
                div(class="row" style="padding:4px")
                    h2(style="margin-top:0px; padding:4px") Accelerate your productivity with Rune.
                    div(class="col-xs-11" style="padding:4px; margin-left:10px; font-size:20px")
                        p(style="margin-left:-4px; font-style:italic; font-size:16px")
                            | Rune is an elegant and intuitive kanban project management system.
                        p #[span(style="font-weight:bold") Layout] individual tasks vital to your project.
                        p #[span(style="font-weight:bold") Manage] goals and deadlines for expected features.
                        p #[span(style="font-weight:bold") Assign] tasks and responsibilities to specific users.
                        p #[span(style="font-weight:bold") Open] your project to other students.
            
            form(action="/" method="post")
                div(class="col-xs-3 col-xs-offset-1" style="padding:14px; background-color:white; opacity:0.85; border-radius:4px")
                    div(class="row" style="padding:4px")
                        h2(style="margin-top:-2px; padding:4px") Sign Up
                    div(class="row" style="padding:4px")
                        div(class="col-xs-6" style="padding:4px")
                            input(type="text" class="form-control" placeholder="First Name" name="firstname" required="required")
                        div(class="col-xs-6" style="padding:4px")
                            input(type="text" class="form-control" placeholder="Last Name" name="lastname" required="required")
                    div(class="row" style="padding:4px")
                        div(class="col-xs-12" style="padding:4px")
                            input(type="email" class="form-control" id="email" placeholder="Email" name="email" required="required")
                    div(class="row" style="padding:4px")
                        div(class="col-xs-12" style="padding:4px")
                            input(type="password" class="form-control" id="pwd" placeholder="Password" required="required")
                    div(class="row" style="padding:4px")
                        div(class="col-xs-12" style="padding:4px")
                            input(type="password" class="form-control" id="confirmPwd" placeholder="Confirm Password" name="password" required="required")
                    div(class="row" style="padding:4px 4px 0px 4px")
                        input(id="hidden-color-input" type="userColor" class="form-control" placeholder="User Color" name="userColor" required="required" value="red")
                        div(class="col-xs-12" style="padding:4px 4px 0px 4px")
                            p Pick a user colour:
                            div(id="rune-icon-small-red"  onclick='selectIcon(0)')
                                img(class="roo-icon-small" src="/images/Roo.svg")
                                img(class="check-icon-small" src="/images/check.svg" style="opacity: 1")
                            div(id="rune-icon-small-redorange" onclick='selectIcon(1)')
                                img(class="roo-icon-small"  src="/images/Roo.svg")
                                img(class="check-icon-small" src="/images/check.svg")
                            div(id="rune-icon-small-orange" onclick='selectIcon(2)')
                                img(class="roo-icon-small"  src="/images/Roo.svg")
                                img(class="check-icon-small" src="/images/check.svg")
                            div(id="rune-icon-small-yelloworange" onclick='selectIcon(3)')
                                img(class="roo-icon-small"  src="/images/Roo.svg")
                                img(class="check-icon-small" src="/images/check.svg")
                            div(id="rune-icon-small-yellow" onclick='selectIcon(4)')
                                img(class="roo-icon-small"  src="/images/Roo.svg")
                                img(class="check-icon-small" src="/images/check.svg")
                            div(id="rune-icon-small-yellowgreen" onclick='selectIcon(5)')
                                img(class="roo-icon-small"  src="/images/Roo.svg")
                                img(class="check-icon-small" src="/images/check.svg")
                    div(class="row" style="padding:4px 4px 0px 4px; margin-bottom:14px")
                        div(class="col-xs-12" style="padding:0px 4px 0px 4px")
                            div(id="rune-icon-small-green" onclick='selectIcon(6)')
                                img(class="roo-icon-small"  src="/images/Roo.svg")
                                img(class="check-icon-small" src="/images/check.svg")
                            div(id="rune-icon-small-bluegreen" onclick='selectIcon(7)')
                                img(class="roo-icon-small"  src="/images/Roo.svg")
                                img(class="check-icon-small" src="/images/check.svg")
                            div(id="rune-icon-small-blue" onclick='selectIcon(8)')
                                img(class="roo-icon-small"  src="/images/Roo.svg")
                                img(class="check-icon-small" src="/images/check.svg")
                            div(id="rune-icon-small-bluepurple" onclick='selectIcon(9)')
                                img(class="roo-icon-small"  src="/images/Roo.svg")
                                img(class="check-icon-small" src="/images/check.svg")
                            div(id="rune-icon-small-purple" onclick='selectIcon(10)')
                                img(class="roo-icon-small"  src="/images/Roo.svg")
                                img(class="check-icon-small" src="/images/check.svg")
                            div(id="rune-icon-small-redpurple" onclick='selectIcon(11)')
                                img(class="roo-icon-small"  src="/images/Roo.svg")
                                img(class="check-icon-small" src="/images/check.svg")
                    div(class="row" style="margin-bottom:-10px; padding:4px")
                        div(class="col-xs-12" style="padding:4px; margin-bottom:-10px")
                            p(style="font-size:xx-small") By clicking Sign Up, your consent to mining rune for the rest of your life.
                    div(class="row" style="padding:4px")
                        div(class="col-xs-12" style="padding:4px")
                            button(id="submit" type="submit" class="btn btn-primary" style="width:140px") Sign Up
                    h5(style="color:#e60000")=signupMessage

    else
        div(class="row" style="padding: 15px")
            //
                div(class="col-xs-4 col-xs-offset-4" style="padding:14px; background-color:white; opacity:0.85; border-radius:4px; text-align: center;")
                    | You have logged in! This area could possibly display a list of the projects you are a member of. 
            div(class="col-sm-12" style="background-color:white; opacity:0.85; border-radius:4px;")
                h2 My Projects 
                if projList
                    table(class="table") 
                        thead
                            tr
                                th Project Name
                        tbody
                            each proj in projList
                                tr
                                    projList
                                    td #[a(href="/p/"+proj['projectid']+'/') #{ proj['projectkey'] }]
                else
                    p You have no projects! 

block scripts
    script.
        document.body.style.background = "url('/images/runite.png') no-repeat center center fixed";
        document.body.style.backgroundSize = "cover";
        document.body.style.webkitBackgroundSize = "cover";
        document.body.style.mozBackgroundSize = "cover";
        document.body.style.oBackgroundSize = "cover"

    script.
        var valid = "#66afe9";
        var invalid = "#e60000";
        var unselected = "#ccc";

        var password = document.getElementById("pwd");
        var confirmPassword = document.getElementById("confirmPwd");
        var confirmValid = false;

        function validatePwd() {
            if (password.value != confirmPassword.value) {
                confirmValid = false;
                confirmPassword.setCustomValidity("Please enter passwords that match.");
                confirmPassword.style.borderColor = invalid;
            }
            else {
                confirmValid = true;
                confirmPassword.setCustomValidity("");
                confirmPassword.style.borderColor = valid;
            }
        }

        function enableConfirmPwdBorderColor() {
            if (confirmValid) {
                confirmPassword.style.borderColor = valid;
            }
            else {
                confirmPassword.style.borderColor = invalid;
            }
        }

        function disableConfirmPwdBorderColor() {
            confirmPassword.style.borderColor = unselected;

        }

        password.onchange = validatePwd;
        confirmPassword.onkeyup = validatePwd;
        confirmPassword.onfocus = enableConfirmPwdBorderColor;
        confirmPassword.onblur = disableConfirmPwdBorderColor;

    script.
        var checks = document.getElementsByClassName("check-icon-small");
        var colors = ["red", "redorange", "orange", "yelloworange", "yellow", "yellowgreen",
                      "green", "bluegreen", "blue", "bluepurple", "purple", "redpurple"];
        var colorInput = document.getElementById("hidden-color-input");
        var selected = 0;
        console.log(selected);
        var selectIcon = function(selectColor) {
            if(selected != selectColor) {
                checks[selectColor].style.opacity = "1";
                colorInput.value = colors[selectColor];
                checks[selected].style.opacity = 0;
                selected = selectColor;
            }         
        }
        
        $(document).ready(function(){
            $('#submit').click(function() {
                console.log('button pushed')
                // get value of password 
                //var pw = document.findbyname(name="password") // for example, password = hello 
                // get value of name
                //var name = document.findbyname(name="firstname")
                // get value of roo 
                // get value of email 
                // make ajax post request with those results 
            })
        });
