html

    head
        title Index 
    
    body
        h2 Login or Signup - This will be the homepage 
        br
        br
        a(href="/profile") My Profile 
        br
        br
        a(href="/login") Login 
        br
        br
        a(href="/signup") Sign Up 
