html

    head
        title A Project
    
    body
        h2 Project Name: #{projName}
        br
        h2 Project ID: #{projId}
        br
        h2 Project Members: #{projMembers}
        br 
        h2 This project is accessible to you because you are a member of it.
        br
        br
        a(href="/") Home
        br
        br
        a(href="/projects") Projects 
