extends ./partials/base.jade

block bodyContent 

    form(action="/login" method="post")
        div
            label Email 
            input(type="text" name="email")
        div
            label Password 
            input(type="password" name="password")
        button(type="submit") Login 
    
    p=message
    p #[a(href='/signup') Sign up for Rune]
            
