extends ./partials/base.jade

block bodyContent 
    
    div(class="container")
        div(class="login")
            form(class="form-signin" action="/login" method="post")
                h2(class="form-signin-heading") Log into Rune
                div(class="no-user-error")=message
                div
                    //- label Email 
                    input(class="form-control" type="text" name="email" placeholder="E-mail")
                div
                    //- label Password 
                    input(class="form-control" type="password" name="password" placeholder="Password")
                button(class="btn btn-primary btn-block" type="submit") Login 
                div(class="row ")
                    a(id="sign-up" class="col-xs-6" href='/signup') Sign up for Rune
                    a(id="forgot-pw" class="col-xs-6" href='#') Forgot Password
