html

    head
        title Profile 
    
    body
        h2 Profile - You can only be on this page if you're logged in 
        br
        br
        h4!= user
        br
        br
        a(href="/") Home
        br
        br
        a(href="/projects") Projects 
        br
        br
        a(href="/logout") Logout
