extends ./partials/base.jade

block bodyContent 

    div(class="container-fluid")
        div(class="col-sm-12")
            div(class="row")
                div(class="col-sm-3" style="padding-top:24px")
                    div(class="row")
                        img(src="/images/apple.png" class="img-rounded" alt="" width="200px" height="200px")
                    div(class="row")
                        h2=fullname
                        h4 #[i Subcaption goes here]
                        if isMe
                            button(type="button" class="btn btn-primary" disabled) Add to Project
                        else 
                            ul(class="nav nav-stacked")
                                li
                                    div(class="btn-group")
                                        button(class="btn dropdown-toggle" data-toggle="dropdown" href="#") Add to Project 
                                            i(class="caret")
                                        ul(class="dropdown-menu" style="top: 0;left: 100%;")
                                            li #[a(href="#") choice 1] 
                                            li #[a(href="#") choice 2] 
                                            li #[a(href="#") choice 3] 
                                        
                            //-form(action="adduser/" method="post")
                            //-    button(type="submit" class="btn btn-primary") Add to Project
                                
                div(class="col-sm-7")
                    div(class="row")
                        h2(class="col-sm-7") Description
                    div(class="row")
                        h4(class="col-sm-7") description goes here 

                        
            div(class="row" style="height:20px")
            div(class="row")
                div(class="col-xs-2" style="padding:6px; margin:6px; background-color:blue; opacity:0.85; border-radius:8px; color:white")
                    p Project Name
                    p Team Size
                    p Description
                div(class="col-xs-2" style="padding:6px; margin:6px; background-color:green; opacity:0.85; border-radius:8px; color:white")
                    p Project Name
                    p Team Size
                    p Description
                div(class="col-xs-2" style="padding:6px; margin:6px; background-color:orange; opacity:0.85; border-radius:8px; color:white")
                    p Project Name
                    p Team Size
                    p Description
                div(class="col-xs-2" style="padding:6px; margin:6px; background-color:red; opacity:0.85; border-radius:8px; color:white")
                    p Project Name
                    p Team Size
                    p Description
                            
