extends ./partials/base.jade

block bodyContent 
    div(class="navbar-fixed-top project-header")
        div(class="container-fluid")
            div(class="row")
                div(class="col-xs-5")
                    h2 #{projName}
        ul(class="nav nav-tabs project-pages")
            li(id="project-tab-4") #[a(href="#tasks" data-toggle="tab") Task List]
            li(id="project-tab-3") #[a(href="#users" data-toggle="tab") User List]
            li(id="project-tab-2" class="active" ) #[a(href="#kanban" data-toggle="tab") Kanban Board]
            li(id="project-tab-1") #[a(href="#overview" data-toggle="tab") Overview]

    div(class="tab-content")
        div(id="tasks" class="tab-pane fade")
            include ./includes/tasks_tab.jade
        div(id="users" class="tab-pane fade")
            include ./includes/users_tab.jade           
        div(id="kanban" class="tab-pane fade  in active")
            include ./includes/kanban_tab.jade
        div(id="overview" class="tab-pane fade")
            include ./includes/overview_tab.jade    
    //include ./includes/kanban_tab.jade                              
//
    div(style="margin-top: 158px;")
    div(class="navbar-fixed-top kanban-board-header")
        div(class="row kanban-board-row kanban-board-row-header")
            div(class="kanban-col-header")
                div(class="kanban-col-header-text") Backlog
            div(class="kanban-col-header")
                div(class="kanban-col-header-text") Selected for Development
            div(class="kanban-col-header")
                div(class="kanban-col-header-text") In Progress
            div(class="kanban-col-header")
                div(class="kanban-col-header-text") Completed
    div(class="container-fluid kanban-board")
        each task in taskList
            h2 FUCKINSDAFISDFASF
        div(class="row kanban-board-row")
            div(class="kanban-col")
                div(class="kanban-task")
                    a(href="#" class="kanban-task-header") DMG9001 - Quizzes and midterm not crazy enough
                    div(class="kanban-task-body")
                        | The app's given quizzes and midterms are not absurd enough.
                    div(class="kanban-task-tags") Issue Priority: High
            div(class="kanban-col")
                div(class="kanban-task")
                    a(href="#" class="kanban-task-header") DMG3342 - Memes too dank
                    div(class="kanban-task-body")
                        | Memes created are too dank for the project to handle.
                    div(class="kanban-task-tags") Issue Priority: High
                div(class="kanban-task")
                    a(href="#" class="kanban-task-header") DMG3814 - Memes generated are too short
                    div(class="kanban-task-body")
                        | Generated memes are too short to last long enough. Should optimally last a longer time.
                    div(class="kanban-task-tags") Issue Priority: High
                div(class="kanban-task")
                    a(href="#" class="kanban-task-header") DMG6969 - Adrenaline is pumping
                    div(class="kanban-task-body")
                        | O-oooooooooo AAAAE-A-A-I-A-U-JO-oooooooooooo
                        | AAE-O-A-A-U-U-A-E-eee-ee-eee
                        | AAAAE-A-E-I-E-A-JO-ooo-oo-oo-oo
                        | EEEEO-A-AAA-AAAA
                    div(class="kanban-task-tags") Issue Priority: ecks dee
                div(class="kanban-task")
                    a(href="#" class="kanban-task-header") DMG2039 - Some memes generated not dank enough
                    div(class="kanban-task-body")
                        | Some memes generated are not dank enough and instead prompt TAs to leave group chats.
                    div(class="kanban-task-tags") Issue Priority: High
            div(class="kanban-col")
                div(class="kanban-task")
                    a(href="#" class="kanban-task-header") DMG3369 - Text not working
                    div(class="kanban-task-body")
                        | Text is too extl iaheworia slruwae ofhawe uasi joHRO
                        | quhf sajdfh LFHDASK JHAF ksdkd d lakjsdfjladf ljlkasdfjlaskdfj
                    div(class="kanban-task-tags") Issue Priority: High
                div(class="kanban-task")
                    a(href="#" class="kanban-task-header") DMG3372 - Im dead tired
                    div(class="kanban-task-body")
                        | kill me
                    div(class="kanban-task-tags") Issue Priority: High
            div(class="kanban-col")
                div(class="kanban-task")
                    a(href="#" class="kanban-task-header") DMG3814 - Memes generated are too short
                    div(class="kanban-task-body")
                        | Generated memes are too short to last long enough. Should optimally last a longer time.
                    div(class="kanban-task-tags") Issue Priority: High

block scripts
    script(src="/javascripts/kanban.js")

    //- br
    //- h2 Project ID: #{projId}
    //- br
    //- h2 Project Members: #{projMembers}
    //- br 
    //- h2 This project is accessible to you because you are a member of it.
    //- br
    //- //- h4 Create New Task: #[a(href= "/p/" + projId + "/createtask") Here] 
    //- h4 Create New Task: #[a(href= "createtask/") Here]
    //- br
    //- a(href="/") Home
    //- br
    //- br
    //- a(href="/projects") Projects
