extends ./partials/base.jade

block bodyContent 
    h2 Project Name: #{projName}
    br
    h2 Project Key: #{projKey}
    br
    h2 Project ID: #{projId}
    br
    h2 Project Members: #{projMembers}
    br 
    h2 This project is accessible to you because you are a member of it.
    br
    //h4 Create New Task: #[a(href= "/p/" + projId + "/createtask") Here] 
    h4 Create New Task: #[a(href= "createtask/") Here]
    br
    a(href="/") Home
    br
    br
    a(href="/projects") Projects 
