extends ./partials/base.jade

block bodyContent
    //- Modal
    div(id="task-modal" class="modal fade" role="dialog")
        div(class="modal-dialog")
            div(class="modal-content")

    div(class="navbar-fixed-top project-header")
        div(class="container-fluid")
            div(class="row")
                div(class="col-xs-5")
                    h2 #{projName}
        ul(class="nav nav-tabs project-pages")
            li(id="project-tab-4") #[a(href="#tasks" data-toggle="tab") Task List]
            li(id="project-tab-3") #[a(href="#users" data-toggle="tab") User List]
            li(id="project-tab-2" class="active" ) #[a(href="#kanban" data-toggle="tab") Kanban Board]
            li(id="project-tab-1") #[a(href="#overview" data-toggle="tab") Overview]

    div(class="tab-content")
        div(id="tasks" class="tab-pane fade")
            include ./includes/tasks_tab.jade
        div(id="users" class="tab-pane fade")
            include ./includes/users_tab.jade           
        div(id="kanban" class="tab-pane fade in active")
            include ./includes/kanban_tab.jade
        div(id="overview" class="tab-pane fade")
            include ./includes/overview_tab.jade

block scripts
    script(src="/javascripts/project.js")
