extends ./partials/base.jade

block bodyContent 
    div(class="container-fluid")
        div(class="row")
            div(class="col-sm-12")
                h2 All Projects
                table(class="table")
                    thead
                        tr
                            th Project
                            th Project Lead
                            th URL
                    tbody
                        tr
                            td Project Simulator 2016
                            td Gabe Newell
                            td https://www.github.com/volvoPS16
                        tr
                            td Weed Tracker
                            td Snoop Dogg
                            td https://www.github.com/420blazeit
                        tr
                            td Dank Meme Generator
                            td Andy Salad Slayer
                            td https://www.github.com/ilovememes
