extends ./partials/base.jade

block bodyContent 
    
    div(class="container")
        div(class="login")
            form(class="form-signup" action="/signup" method="post")
                h2(class="form-signin-heading") Create a Rune account
                div(class="col-xs-6" style="padding:4px")
                    input(class="form-control" type="text" style="margin:2px" name="firstname" placeholder="First Name")
                div(class="col-xs-6" style="padding:4px")
                    input(class="form-control" type="text" style="margin:2px" name="lastname" placeholder="Last Name")
                div(class="col-xs-12" style="padding:4px")
                    input(class="form-control" type="text" style="margin:2px" name="email" placeholder="Email")
                div(class="col-xs-12" style="padding:4px")
                    input(class="form-control" type="password" style="margin:2px; margin-bottom:20px" name="password" placeholder="Password")
                button(class="btn btn-primary btn-block" type="submit") Register! 
                
                
            
