div(class="container-fluid task-body")
    div(class="task-create")
        form(class="form-group" action="createtask/" method="post")
            h2(class="form-signin-heading") Create New Task
            div(class="form-group")
                label(for="taskname") Task Name
                input(class="form-control" type="text" name="taskname" placeholder="Task Name" required="required")
            div(class="form-group")
                label(for="taskdescription") Task Description
                textarea(class="form-control" rows="4" name="taskdescription" placeholder="Description" required="required")
            div(class="form-group")
                label(for="assignedto") Assign to
                select(class="form-control" name="assignedto")
                    option(value="") Unassigned
                    each user in usersList
                        option(value="#{user['email']}") #{user['name']}
            div(class="form-group")
                label(for="status") Status
                select(class="form-control" name="status")
                    each status in statuses
                        option #{status}
            div(class="form-group")
                label(for="priority") Priority
                select(class="form-control" name="priority")
                    option High
                    option Medium
                    option Low
            div(class="row btn-submit")
                button(type="submit" class="col-xs-5 btn btn-primary") Submit
                button(type="button" class="col-xs-5 col-xs-offset-2 btn btn-secondary" data-dismiss="modal") Cancel
